.techno.container
	h2.title 
		b Мой
		|
		| стек технологий
	.techno__slider
		.techno__loader
			.techno__filler
			.techno__loader-list
				.techno__mark
					img(src="images/web_logotypes/fe.png", alt="alt")
				.techno__mark
					img(src="images/web_logotypes/js.png", alt="alt")
				.techno__mark
					img(src="images/web_logotypes/css.png", alt="alt")
				.techno__mark
					img(src="images/web_logotypes/html.png", alt="alt")
		.swiper-container
			.swiper-wrapper
				.swiper-slide.techno__slide
					.techno__slide-title
						h3 HTML
						img(src="images/web_logotypes/html.png", alt="alt")
					.techno__slide-txt
						ul.techno__slide-list
							li.techno__slide-list-item Код я привывк писать в VS Code , с применением плагина Emmet.
								| Зачастую для разметки простых сайтов мне не хвататет нативных средств языка и я прибегаю к использованию шаблонизаторов, обычно это Pug .
				.swiper-slide.techno__slide
					.techno__slide-title
						h3 CSS
						img(src="images/web_logotypes/css.png", alt="alt")
					.techno__slide-txt
						ul.techno__slide-list
							li.techno__slide-list-item Код я привывк писать в VS Code , с применением плагина Emmet.
								| Зачастую для разметки простых сайтов мне не хвататет нативных средств языка и я прибегаю к использованию шаблонизаторов, обычно это Pug .
				.swiper-slide.techno__slide
					.techno__slide-title
						h3 JS
						img(src="images/web_logotypes/js.png", alt="alt")
					.techno__slide-txt
						ul.techno__slide-list
							li.techno__slide-list-item Код я привывк писать в VS Code , с применением плагина Emmet.
								| Зачастую для разметки простых сайтов мне не хвататет нативных средств языка и я прибегаю к использованию шаблонизаторов, обычно это Pug .
				.swiper-slide.techno__slide
					.techno__slide-title
						h3 WEB
						img(src="images/web_logotypes/fe.png", alt="alt")
					.techno__slide-txt
						ul.techno__slide-list
							li.techno__slide-list-item Код я привывк писать в VS Code , с применением плагина Emmet.
								| Зачастую для разметки простых сайтов мне не хвататет нативных средств языка и я прибегаю к использованию шаблонизаторов, обычно это Pug .
