doctype html
html(lang="ru")
	include pug/blocks/head.pug
	body
		include pug/blocks/header.pug
		include pug/blocks/profile.pug
		include pug/blocks/skills.pug
		include pug/blocks/techno.pug
		script(src="scripts/main.js")
